#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h3{
  margin: 0px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.emailContainer{
  display: flex;
  margin-bottom: 100px;
}
.container{
  display: flex;
  flex-direction: column;
  height: 1000px;
  justify-content: center;
  align-items: center;
}

.submitButton{
  background-color: rgb(33, 33, 33);
  color: white;
  width: 100%;
}

.informationBox{
  height: 30px;
  width: 100%;
  border-radius:   10px;
  box-sizing: border-box;
  border: none;
  margin-top: 10px;
  background-color: rgb(235, 235, 235);
  padding-left: 7px;
}

.bioBox{
  height: 100px;
  width: 100%;
  border-radius: 15px;
  box-sizing: border-box;
  border: none;
  margin-top: 10px;
  background-color: rgb(235, 235, 235);
  padding-left: 7px;
}

.accountSetupContainer{
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  height: fit-content;
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  align-items: start;
  gap: 10px;
  align-items: center;
}

.outerProgressBar{
  display: block;
  border: 1px solid rgb(33, 33, 33);
  border-radius: 5px;
  height: 10px;
  width: 100%;
  margin-bottom: 50px;
}

.innerProgressBar{
  display: block;
  background-color: rgb(33, 33, 33);
  box-sizing: border-box;
  border-radius: 4px;
  height: 10px;
  transition: 0.5s;
}

.OTPInputContainer{
  display: flex;
  justify-content: space-between;
  width: 65%;
}

.OTPInputBox{
  width: 35px;
  height: 35px;
  border-radius: 7px;
  background-color: lightgray;
  border: none;
  font-size: 25px;
  text-align: center;
  caret-color: transparent;
}

.inputStatus{
  color: rgb(255, 0, 0)
}

.nameInputContainer{
  display: flex;
  gap: 5px;
}
